*.hprof
*.iml
*.log
.DS_Store
.cxx/
.externalNativeBuild/
.gradle/
.idea/
/.idea/
/.idea/assetWizardSettings.xml
/build
/captures
/local.properties
build/
captures/
deploymentTargetDropDown.xml
local.properties
misc.xml
output-metadata.json
render.experimental.xml
